.b-users {
  margin-top: 40px;
  .glyphicon {
    cursor: pointer;
  }
  &-table {
    margin-top: 10px;

    th:last-child,
    td:last-child {
      min-width: 60px;
    }
  }
  &-filters {
    .form-control {
      width: auto;
    }
  }
  &-row {

  }
}
